{
    "extends": "stylelint-config-htmlacademy",

    "rules": {
        "declaration-no-important": true,
        "indentation": [4, { "ignore": ["inside-parens"] }],
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "use",
                    "define-mixin",
                    "include",
                    "content",
                    "rules",
                    "each"
                ]
            }
        ]
    }
}
