@use "../variables.scss";

.addition {
    padding: 13px 0 19px;
    display: flex;
    flex-flow: column nowrap;

    @media (min-width: variables.$tablet-width) {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    @media (min-width: variables.$desktop-width) {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

.addition__name {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    font-family: variables.$primary-font;
    font-size: 16px;
    line-height: 16px;
    color: variables.$special-dark-grey-2;
    text-transform: uppercase;
}

.addition__info {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: variables.$secondary-font;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: variables.$special-dark-grey;
}

.addition__amount {
    @media (min-width: variables.$tablet-width) {
        margin-right: 50px;
    }
}

.addition__price {
    text-transform: uppercase;
}

.addition__button {
    @media (min-width: variables.$tablet-width) {
        width: 100%;
    }

    @media (min-width: variables.$tablet-width) {
        width: auto;
    }
}
