@use "../variables.scss";

.address {
    padding: 26px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @media (min-width: variables.$tablet-width) {
        padding: 56px 70px;
    }

    @media (min-width: variables.$desktop-width) {
        padding: 56px 80px;
        background-color: variables.$basic-white;
    }

    &--with-background {
        background-color: variables.$basic-grey;

        @media (min-width: variables.$desktop-width) {
            background-color: variables.$basic-white;
        }
    }
}

.address__note {
    padding: 0;
    margin: 0;
    font-family: variables.$primary-font;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: variables.$special-black;
    text-transform: uppercase;
    flex: 1 1 0;
    margin-right: 15px;

    @media (min-width: variables.$tablet-width) {
        font-size: 20px;
        line-height: 26px;
    }

    @media (min-width: variables.$desktop-width) {
        align-self: center;
    }
}

.address__container {
    flex: 1 1 0;

    @media (min-width: variables.$tablet-width) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.address__text {
    padding: 0;
    margin: 0;
    font-family: variables.$secondary-font;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: variables.$special-dark-grey;

    @media (min-width: variables.$tablet-width) {
        font-size: 16px;
        line-height: 20px;
        max-width: 160px;
        text-align: right;
        flex-grow: 0;
    }
}
