@use "../variables.scss";

.address {
    padding: 27px 20px 26px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @media (min-width: variables.$tablet-width) {
        padding: 58px 70px 62px;
    }

    @media (min-width: variables.$desktop-width) {
        padding: 56px 80px;
        background-color: variables.$basic-white;
    }

    &--with-background {
        background-color: variables.$basic-grey;

        @media (min-width: variables.$desktop-width) {
            background-color: variables.$basic-white;
        }
    }

    &--catalog {
        @media (min-width: variables.$tablet-width) {
            padding: 58px 70px 60px;
        }

        @media (min-width: variables.$desktop-width) {
            padding: 58px 80px 59px;
        }
    }
}

.address__note {
    padding: 0;
    margin: 0;
    font-family: variables.$primary-font;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: variables.$special-black;
    text-transform: uppercase;
    flex: 1 1 0;
    margin-right: 3px;

    @media (min-width: variables.$tablet-width) {
        font-size: 20px;
        line-height: 26px;
        max-width: 236px;
        padding-top: 2px;
    }

    @media (min-width: variables.$desktop-width) {
        align-self: center;
        padding-top: 0;
    }
}

.address__container {
    flex: 1 1 0;

    @media (min-width: variables.$tablet-width) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;
    }

    @media (min-width: variables.$desktop-width) {
        align-items: flex-start;
        padding-left: 92px;
        padding-bottom: 3px;
    }
}

.address__text {
    padding: 0;
    margin: 0;
    font-family: variables.$secondary-font;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: variables.$special-dark-grey;

    @media (min-width: variables.$tablet-width) {
        font-size: 16px;
        line-height: 20px;
        max-width: 160px;
        text-align: right;
        flex-grow: 0;
    }

    @media (min-width: variables.$desktop-width) {
        text-align: left;
    }
}
