@use "../variables.scss";

.bottom-line {
    padding: 0 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    background-color: variables.$basic-grey;

    @media (min-width: variables.$tablet-width) {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 57px 30px 57px;
    }

    @media (min-width: variables.$desktop-width) {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 57px 110px 58px;
    }
}

.bottom-line__logo {
    padding: 38px 0 27px;
    text-align: center;

    @media (min-width: variables.$tablet-width) {
        padding: 0;
        padding-top: 4px;
    }
}

.bottom-line__social-links {
    padding: 20px;

    border-top: 1px solid variables.$light-grey;
    border-bottom: 1px solid variables.$light-grey;

    @media (min-width: variables.$tablet-width) {
        padding: 0;
        border: none;
        position: relative;
        top: -2px;
        left: 13px;
    }
}

.bottom-line__copyright {
    padding: 22px 0;

    @media (min-width: variables.$tablet-width) {
        padding: 0;
        position: relative;
        top: -2px;
    }

    @media (min-width: variables.$desktop-width) {
        top: 0;
    }
}
