@use "../variables.scss";

.button {
    border: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 44px;
    text-transform: uppercase;
    height: 40px;
    font-family: variables.$primary-font;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    @media (min-width: variables.$tablet-width) {
        font-size: 20px;
        line-height: 20px;
        padding: 0 26px;
        height: 54px;
    }

    &--primary {
        background-color: variables.$basic-green;
        color: variables.$basic-white;
    }

    &--secondary {
        background-color: variables.$basic-grey;
        color: variables.$special-dark-grey;
    }

    &--slim {
        @media (min-width: variables.$tablet-width) {
            height: 40px;
            font-size: 16px;
            line-height: 20px;
        }
    }
}
