@use "../variables.scss";

.catalog-container {
    padding: 0 0 15px;

    @media (min-width: variables.$tablet-width) {
        padding: 0;
    }
}

.catalog-container__title {
    padding: 27px 20px 41px;
    margin: 0;
    font-family: variables.$primary-font;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: variables.$basic-black;
    border-bottom: 1px solid variables.$special-grey-2;

    @media (min-width: variables.$tablet-width) {
        padding: 79px 30px 0 30px;
        border: none;
        margin-bottom: 82px;
    }

    @media (min-width: variables.$desktop-width) {
        padding: 30px 110px;
    }
}

.catalog-container__products {
    @media (min-width: variables.$tablet-width) {
        padding: 0 30px;
        margin-bottom: 68px;
    }

    @media (min-width: variables.$desktop-width) {
        padding: 0 110px;
    }
}

.catalog-container__additions {
    padding: 25px 20px;

    @media (min-width: variables.$tablet-width) {
        padding: 0;
    }

    @media (min-width: variables.$desktop-width) {
        padding: 25px 110px;
    }
}
