@use "../variables.scss";

.choices {
    padding: 20px 20px 0;

    @media (min-width: variables.$tablet-width) {
        padding: 0 30px;
    }

    @media (min-width: variables.$desktop-width) {
        padding: 82px 110px 0;
    }
}

.choices__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: variables.$desktop-width) {
        display: flex;
        flex-flow: row nowrap;
    }
}

.choices__item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    @media (min-width: variables.$tablet-width) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media (min-width: variables.$desktop-width) {
        width: 570px;
        height: 374px;
        box-sizing: border-box;

        &:not(:last-child) {
            margin-right: 80px;
            margin-bottom: 0;
        }
    }
}
