@use "../variables.scss";

.field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.field__label {
    font-family: variables.$primary-font;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: variables.$special-dark-grey;
    text-transform: uppercase;
    margin-right: 13px;

    @media (min-width: variables.$tablet-width) {
        font-size: 20px;
        line-height: 30px;
        margin-right: 16px;
    }

    &--number {
        margin-right: 17px;

        @media (min-width: variables.$tablet-width) {
            margin-right: 18px;
        }

        @media (min-width: variables.$desktop-width) {
            margin-right: 18px;
        }
    }

    &--email {
        margin-right: 12px;

        @media (min-width: variables.$tablet-width) {
            margin-right: 18px;
        }

        @media (min-width: variables.$desktop-width) {
            margin-right: 23px;
        }
    }

    &--phone {
        margin-right: 10px;

        @media (min-width: variables.$tablet-width) {
            margin-right: 14px;
            margin-left: -3px;
        }

        @media (min-width: variables.$desktop-width) {
            margin-right: 18px;
        }
    }
}

.field__label--radio {
    color: variables.$special-dark-grey-2;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 0;
    cursor: pointer;

    &::before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid variables.$special-grey;
        border-radius: 50%;
        margin-right: 16px;
        box-sizing: border-box;
    }

    @media (min-width: variables.$tablet-width) {
        &::before {
            width: 40px;
            height: 40px;
            margin-right: 19px;
        }
    }

    &:hover {
        &::before {
            border-color: variables.$special-grey-3;
        }
    }

    &:active {
        opacity: 0.3;
    }
}

input:checked + .field__label--radio {
    &::after {
        content: "";
        position: absolute;
        top: 9px;
        left: 9px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: variables.$basic-green;
    }

    @media (min-width: variables.$tablet-width) {
        &::after {
            top: 11px;
            left: 11px;
            width: 18px;
            height: 18px;
        }
    }
}

.field__label--checkbox {
    color: variables.$special-dark-grey-2;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 0;
    cursor: pointer;

    &::before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid variables.$special-grey;
        margin-right: 17px;
        box-sizing: border-box;
    }

    @media (min-width: variables.$tablet-width) {
        &::before {
            width: 40px;
            height: 40px;
            margin-right: 19px;
        }
    }

    &:hover {
        &::before {
            border-color: variables.$special-grey-3;
        }
    }

    &:active {
        opacity: 0.3;
    }
}

input:checked + .field__label--checkbox {
    &::after {
        content: "";
        position: absolute;
        top: 7px;
        left: 6px;
        width: 18px;
        height: 14px;
        background-image: url("../../img/checkbox-mark.svg");
    }

    @media (min-width: variables.$tablet-width) {
        &::after {
            top: 12px;
            left: 9px;
            width: 24px;
            height: 19px;
            background-size: 24px 19px;
        }
    }
}

.field__input {
    border: 1px solid variables.$basic-light-grey-2;
    font-family: variables.$primary-font;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: variables.$special-dark-grey;
    text-transform: uppercase;
    padding: 14px 15px 12px;
    flex-grow: 1;
    position: relative;

    @media (min-width: variables.$tablet-width) {
        font-size: 20px;
        line-height: 30px;
        padding: 10px 21px 10px 17px;
    }

    @media (min-width: variables.$desktop-width) {
        padding: 10px 21px 10px 20px;
    }

    &--number {
        padding-left: 15px;

        @media (min-width: variables.$tablet-width) {
            padding-left: 19px;
        }
    }

    &--textarea {
        resize: none;
        height: 128px;
        padding: 8px 14px 12px 15px;

        @media (min-width: variables.$tablet-width) {
            padding: 9px 18px 11px 19px;
            height: 152px;
        }
    }

    &--email {
        padding: 13px 40px 12px 13px;

        @media (min-width: variables.$tablet-width) {
            padding: 9px 18px 11px 21px;
        }

        @media (min-width: variables.$desktop-width) {
            padding-left: 17px;
        }
    }

    &--phone {
        padding: 13px 40px 13px 15px;

        @media (min-width: variables.$tablet-width) {
            padding: 9px 18px 11px 21px;
        }

        @media (min-width: variables.$desktop-width) {
            padding-left: 17px;
        }
    }

    &:hover {
        border-color: variables.$special-grey;
    }

    &:focus {
        border-color: variables.$special-dark-grey;
        outline: 1px solid variables.$special-dark-grey;
    }

    &:invalid {
        border-color: variables.$status-error;
        outline: 1px solid variables.$status-error;
    }
}

.field__icon {
    position: absolute;

    &--email {
        top: 16px;
        right: 15px;

        @media (min-width: variables.$tablet-width) {
            top: 18px;
            right: 18px;
        }
    }

    &--phone {
        top: 14px;
        right: 13px;

        @media (min-width: variables.$tablet-width) {
            top: 16px;
            right: 18px;
        }

        @media (min-width: variables.$desktop-width) {
            top: 15px;
            right: 17px;
        }
    }
}

.field__input:focus ~  .field__icon {
    color: variables.$basic-green;
}

.field__input:invalid ~  .field__icon {
    color: variables.$status-error;
}
