@use "../variables.scss";

.field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;

    &--email {
        &::after {
            content: "";
            position: absolute;
            top: 17px;
            right: 15px;
            width: 20px;
            height: 14px;
            background-image: url("../../img/email.svg");
            background-size: 20px 14px;
        }

        @media (min-width: variables.$tablet-width) {
            &::after {
                width: 18px;
                height: 13px;
                top: 19px;
                right: 20px;
                background-size: 18px 13px;
            }
        }
    }

    &--phone {
        &::after {
            content: "";
            position: absolute;
            top: 14px;
            right: 12px;
            width: 20px;
            height: 20px;
            background-image: url("../../img/phone.svg");
            background-size: 20px 20px;
        }

        @media (min-width: variables.$tablet-width) {
            &::after {
                top: 16px;
                right: 17px;
            }
        }
    }
}

.field__label {
    font-family: variables.$primary-font;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: variables.$special-dark-grey;
    text-transform: uppercase;
    margin-right: 13px;

    @media (min-width: variables.$tablet-width) {
        font-size: 20px;
        line-height: 30px;
        margin-right: 15px;
    }
}

.field__label--radio {
    color: variables.$special-dark-grey-2;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &::before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid variables.$special-grey;
        border-radius: 50%;
        margin-right: 13px;
    }

    @media (min-width: variables.$tablet-width) {
        &::before {
            width: 40px;
            height: 40px;
            margin-right: 19px;
        }
    }
}

input:checked + .field__label--radio {
    &::after {
        content: "";
        position: absolute;
        top: 9px;
        left: 10px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: variables.$basic-green;
    }

    @media (min-width: variables.$tablet-width) {
        &::after {
            top: 12px;
            left: 12px;
            width: 18px;
            height: 18px;
        }
    }
}

.field__label--checkbox {
    color: variables.$special-dark-grey-2;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &::before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 26px;
        border: 1px solid variables.$special-grey;
        margin-right: 13px;
    }

    @media (min-width: variables.$tablet-width) {
        &::before {
            width: 40px;
            height: 40px;
            margin-right: 19px;
        }
    }
}

input:checked + .field__label--checkbox {
    &::after {
        content: "";
        position: absolute;
        top: 7px;
        left: 6px;
        width: 18px;
        height: 14px;
        background-image: url("../../img/checkbox-mark.svg");
    }

    @media (min-width: variables.$tablet-width) {
        &::after {
            top: 12px;
            left: 10px;
            width: 24px;
            height: 19px;
            background-size: 24px 19px;
        }
    }
}

.field__input {
    border: 1px solid variables.$basic-light-grey-2;
    font-family: variables.$primary-font;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: variables.$special-dark-grey;
    text-transform: uppercase;
    padding: 14px;
    flex-grow: 1;
    position: relative;

    @media (min-width: variables.$tablet-width) {
        font-size: 20px;
        line-height: 30px;
        padding: 10px 21px;
    }

    &--textarea {
        resize: none;
        height: 150px;
    }

    &--email {
        padding-right: 40px;
    }

    &--phone {
        padding-right: 40px;
    }
}
