@use "../variables.scss";

.fields {
    padding: 0;
    margin: 0;
}

.fields__legend {
    padding: 0;
    padding-left: 20px;
    padding-right: 15px;
    margin: 0;
    margin-bottom: 35px;
    font-family: variables.$primary-font;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    color: variables.$basic-black;
    max-width: 187px;
}

.fields__list {
    margin: 0;
    padding: 0 20px 11px;
    list-style: none;

    &--additions {
        @media (min-width: variables.$tablet-width) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: variables.$desktop-width) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }

    &--contacts {
        @media (min-width: variables.$desktop-width) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
}

.fields__item {
    margin-bottom: 13px;

    &--contact {
        @media (min-width: variables.$desktop-width) {
            flex: 1 1 0;
        }

        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}
