@use "../variables.scss";

.form-container {
    padding: 27px 0;
}

.form-container__title {
    padding: 0 20px;
    margin: 0;
    margin-bottom: 37px;
    font-family: variables.$primary-font;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: variables.$basic-black;
}

.form-container__text {
    padding: 0 74px 0 20px;
    margin: 0;
    margin-bottom: 39px;
    font-family: variables.$primary-font;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: variables.$basic-black;
    text-transform: uppercase;
}

.form-container__fields-container {
    display: flex;
    flex-flow: column nowrap;

    @media (min-width: variables.$desktop-width) {
        flex-flow: row nowrap;
    }
}

.form-container__fields {
    margin-bottom: 22px;
    border: none;
    border-bottom: 1px solid variables.$light-grey;

    &--with-legend {
        border-top: 2px solid variables.$basic-green;
    }

    &--column {
        @media (min-width: variables.$desktop-width) {
            flex: 1 1 0;
            margin: 10px;
            border: none;
        }
    }

    &--weight {
        @media (min-width: variables.$tablet-width) {
            margin: 41px;
            border: 1px solid variables.$light-grey;
            padding: 25px;
            padding-bottom: 0;
        }

        @media (min-width: variables.$desktop-width) {
            margin: 0;
        }
    }
}

.form-container__container {
    display: flex;
    flex-flow: column nowrap;

    @media (min-width: variables.$tablet-width) {
        flex-flow: row nowrap;
        align-items: center;
    }
}

.form-container__buttons {
    padding: 0 20px;

    @media (min-width: variables.$tablet-width) {
        flex: 1 1 0;
    }
}

.form-container__note {
    padding: 0 0 5px;
    margin: 0;
    font-family: variables.$secondary-font;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: variables.$basic-black;
    text-align: center;

    @media (min-width: variables.$tablet-width) {
        flex: 1 1 0;
        text-align: left;
    }
}
