@use "../variables.scss";

.form-container__title {
    padding: 27px 20px 0;
    margin: 0;
    margin-bottom: 37px;
    font-family: variables.$primary-font;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: variables.$basic-black;

    @media (min-width: variables.$tablet-width) {
        padding: 65px 70px 0;
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 54px;
    }
}

.form-container__text {
    padding: 0 74px 0 20px;
    margin: 0;
    margin-bottom: 39px;
    font-family: variables.$primary-font;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: variables.$basic-black;
    text-transform: uppercase;

    @media (min-width: variables.$tablet-width) {
        padding: 0;
        padding-left: 70px;
        font-size: 20px;
        line-height: 30px;
        width: 330px;
        margin-bottom: 66px;
    }
}

.form-container__fields-container {
    padding: 0 20px;

    @media (min-width: variables.$tablet-width) {
        padding: 0 71px;
    }

    &--weight {
        padding: 0;
    }
}

.form-container__fields-group {
    display: flex;
    flex-flow: column nowrap;

    @media (min-width: variables.$desktop-width) {
        flex-flow: row nowrap;
    }
}

.form-container__fields {
    margin-bottom: 22px;
    border: none;
    border-bottom: 1px solid variables.$light-grey;
    padding-bottom: 24px;

    @media (min-width: variables.$tablet-width) {
        margin-bottom: 65px;
        border: none;
    }

    &--with-legend {
        border-top: 2px solid variables.$basic-green;

        @media (min-width: variables.$tablet-width) {
            padding: 0 71px;
            margin-bottom: 65px;
            border: none;
        }
    }

    &--column {
        @media (min-width: variables.$desktop-width) {
            flex: 1 1 0;
            margin: 10px;
            border: none;
        }
    }

    &--weight {
        @media (min-width: variables.$tablet-width) {
            margin: 7px 71px 70px;
            padding: 25px 28px;
            border: 1px solid variables.$light-grey;
        }

        @media (min-width: variables.$desktop-width) {
            margin: 0;
        }
    }

    &--last {
        margin-bottom: 0;
        border: none;
    }
}

.form-container__footer {
    margin-top: 10px;
    margin-bottom: 32px;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 20px;

    @media (min-width: variables.$tablet-width) {
        margin-top: 54px;
        margin-bottom: 72px;
        padding: 0 71px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 61px;
        align-items: center;
    }
}

.form-container__buttons {
    padding: 0;
    margin: 0;
}

.form-container__button {
    width: 100%;
}

.form-container__note {
    padding: 0;
    margin: 0;
    margin-top: 21px;
    font-family: variables.$secondary-font;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: variables.$basic-black;
    text-align: center;

    @media (min-width: variables.$tablet-width) {
        margin: 0;
        font-size: 16px;
        text-align: left;
    }
}
