@use "../variables.scss";

.lead {
    padding: 27px 20px 0;
    position: relative;
    font-family: variables.$primary-font;
    color: variables.$basic-white;
    text-align: center;
    box-sizing: border-box;
    // outline: 2px solid black;

    @media (min-width: variables.$tablet-width) {
        padding: 62px 30px 0;
        color: variables.$basic-black;
        height: 872px;
        width: 768px;
        text-align: left;
    }

    @media (min-width: variables.$desktop-width) {
        width: 100%;
        box-sizing: border-box;
        height: 582px;
        padding: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 302px;
        background-image: url("../../img/lead-background-phone.png");
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        z-index: -1;

        @media (min-resolution: 2dppx) {
            background-image: url("../../img/lead-background-phone@2x.png");
        }

        @media (min-width: variables.$tablet-width) {
            display: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 302px;
        background-color: variables.$basic-green;
        opacity: 0.85;
        z-index: -1;

        @media (min-width: variables.$tablet-width) {
            display: none;
        }
    }
}

.lead__container {
    @media (min-width: variables.$tablet-width) {
        padding: 0 87px;
    }

    @media (min-width: variables.$desktop-width) {
        padding: 111px 190px 0;
    }
}

.lead__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    @media (min-width: variables.$tablet-width) {
        font-size: 60px;
        line-height: 60px;
        width: 416px;
        margin-bottom: 41px;
    }

    @media (min-width: variables.$desktop-width) {
        grid-column: 1;
        grid-row: 1;
        align-self: flex-end;
    }
}

.lead__text {
    padding: 0;
    margin: 0;
    margin-bottom: 29px;
    text-transform: uppercase;

    @media (min-width: variables.$tablet-width) {
        margin-bottom: 49px;
    }

    @media (min-width: variables.$desktop-width) {
        grid-column: 1;
        grid-row: 2;
    }
}

.lead__image {
    @media (min-width: variables.$tablet-width) {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 709px;
        height: 609px;
    }

    @media (min-width: variables.$desktop-width) {
        display: block;
        position: absolute;
        top: 32px;
        left: 558px;
        width: 552px;
        height: 499px;
        z-index: 0;
    }
}

.lead__button {
    width: 100%;

    @media (min-width: variables.$tablet-width) {
        width: 244px;
    }

    @media (min-width: variables.$desktop-width) {
        grid-column: 1;
        grid-row: 3;
        align-self: flex-start;
    }
}
