@use "../variables.scss";

.main-container__lead {
    margin-bottom: 20px;
}

.main-container__choices {
    margin-bottom: 20px;
}

.main-container__reasons {
    margin-bottom: 50px;
}

.main-container__example {
    @media (min-width: variables.$desktop-width) {
        height: 400px;
    }
}
