@use "../variables.scss";

.navigation__list {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: variables.$basic-white;
    display: flex;
    flex-flow: column nowrap;
    border-top: 1px solid variables.$basic-light-grey;

    @media (min-width: variables.$tablet-width) {
        flex-flow: row nowrap;
        justify-content: flex-end;
        border-top: none;
    }

    &--index {
        @media (min-width: variables.$desktop-width) {
            background-color: transparent;
        }
    }
}

.navigation__item {
    padding: 22px 0 24px;
    margin: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid variables.$basic-light-grey;
    position: relative;

    @media (min-width: variables.$tablet-width) {
        border: none;
        width: auto;
        margin-right: 35px;
        padding: 0 0 12px;

        &:last-child {
            margin-right: 0;
        }
    }

    &--active {
        @media (min-width: variables.$tablet-width) {
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: variables.$basic-green;
            }
        }

        @media (min-width: variables.$desktop-width) {
            &::after {
                background-color: variables.$basic-white;
            }
        }
    }
}

.navigation__link {
    font-family: variables.$primary-font;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    color: variables.$basic-black;
    text-transform: uppercase;

    @media (min-width: variables.$tablet-width) {
        font-size: 18px;
        line-height: 24px;
    }

    @media (min-width: variables.$desktop-width) {
        font-size: 20px;
        line-height: 30px;
    }

    &--index {
        @media (min-width: variables.$desktop-width) {
            color: variables.$basic-white;
        }
    }
}
