@use "./variables.scss";

.page {
    font-family: variables.$secondary-font;
    font-weight: normal;
}

.page__body {
    min-width: 320px;
    position: relative;
    margin: 0;
    // outline: 5px solid blue;

    @media (min-width: variables.$tablet-width) {
        min-width: 768px;
    }

    @media (min-width: variables.$desktop-width) {
        width: 1440px;
        margin: 0 auto;
    }
}

.page__container--index {
    @media (min-width: variables.$desktop-width) {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 720px;
            height: 694px;
            z-index: -1;
            background-image: url("../../img/lead-background-desktop.png");

            @media (min-resolution: 2dppx) {
                background-image: url("../../img/lead-background-desktop@2x.png");
                background-size: 720px 694px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 720px;
            height: 694px;
            z-index: -1;
            opacity: 0.85;
            background-color: variables.$basic-green;
        }
    }
}
