@use "./variables.scss";

.page {
    font-family: variables.$secondary-font;
    font-weight: normal;
}

.page__body {
    margin: 0;
}

.page__body--index {
    @media (min-width: variables.$desktop-width) {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            right: 0;
            height: 694px;
            z-index: -1;
            background-image: url("../img/lead-background-desktop.jpg");
            background-size: cover;
            background-color: variables.$basic-green;

            @media (min-resolution: 2dppx) {
                background-image: url("../img/lead-background-desktop@2x.jpg");
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            right: 0;
            height: 694px;
            z-index: -1;
            opacity: 0.85;
            background-color: variables.$basic-green;
        }
    }
}
