@use "../variables.scss";

.products__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media (min-width: variables.$tablet-width) {
        display: grid;
        grid-template-columns: repeat(2, 324px);
        column-gap: 60px;
        row-gap: 60px;
    }

    @media (min-width: variables.$desktop-width) {
        display: grid;
        grid-template-columns: repeat(4, 245px);
        column-gap: 80px;
        row-gap: 63px;
    }
}

.products__item {
    width: 320px;

    @media (min-width: variables.$tablet-width) {
        width: 324px;
        box-sizing: border-box;
    }

    @media (min-width: variables.$desktop-width) {
        width: 245px;
        box-sizing: border-box;
    }
}
