@use "../variables.scss";

.product-details {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4px;
    font-family: variables.$secondary-font;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: variables.$special-dark-grey;

    @media (min-width: variables.$tablet-width) {
        font-size: 16px;
        row-gap: 0;
    }
}

.product-details__attribute,
.product-details__value {
    @media (min-width: variables.$tablet-width) {
        padding-top: 7px;
        padding-bottom: 8px;
        border-bottom: 1px solid variables.$special-grey;
    }
}

.product-details__value {
    margin: 0;
    text-align: right;

    &--price {
        text-transform: uppercase;
    }
}
