@use "../variables.scss";

.product {
    padding: 20px 20px 25px;
    border-bottom: 1px solid variables.$special-grey-2;
    position: relative;
    // outline: 1px solid plum;

    @media (min-width: variables.$tablet-width) {
        padding: 10px 38px 39px;
        box-sizing: border-box;
        height: 511px;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 81px;
            top: 0;
            left: 0;
            background-color: variables.$basic-white;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 430px;
            top: 81px;
            left: 0;
            background-color: variables.$basic-grey;
            z-index: -1;
        }
    }

    &--next {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 25px;

        @media (min-width: variables.$tablet-width) {
            padding: 134px 38px 38px;
        }

        @media (min-width: variables.$desktop-width) {
            padding: 131px 38px 40px;
        }

        &::after {
            background-color: variables.$basic-white;
            border: 2px solid variables.$basic-grey;
            box-sizing: border-box;
        }
    }
}

.product__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 11px;

    @media (min-width: variables.$tablet-width) {
        margin-bottom: 34px;
        flex-flow: column nowrap;
        align-items: center;
    }
}

.product__column-left {
    width: 140px;
    height: 112px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    @media (min-width: variables.$tablet-width) {
        width: 168px;
        height: 200px;
        margin-bottom: 32px;
        align-items: flex-end;
    }
}

.product__column-right {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    @media (min-width: variables.$tablet-width) {
        width: 100%;
    }
}

.product__name {
    margin-bottom: 15px;
    font-family: variables.$primary-font;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: variables.$special-dark-grey-2;
    text-transform: uppercase;
    text-decoration: none;
    max-height: 40px;
    overflow: hidden;

    @media (min-width: variables.$tablet-width) {
        font-size: 20px;
        line-height: 24px;
        max-height: 48px;
        text-align: center;
        padding-left: 5px;
    }

    @media (min-width: variables.$desktop-width) {
        line-height: 22px;
        max-height: 44px;
        padding-left: 8px;
    }

    &--next {
        margin: 0;
        margin-bottom: 8px;
        padding: 0;
        color: variables.$special-black;

        @media (min-width: variables.$tablet-width) {
            width: 134px;
            margin-bottom: 24px;
            text-align: center;
            line-height: 22px;
        }
    }
}

.product__br {
    display: inline;

    @media (min-width: variables.$tablet-width) {
        display: none;
    }

    &--desktop {
        display: none;

        @media (min-width: variables.$tablet-width) {
            display: inline;
        }
    }
}

.product__img {
    display: block;
    position: relative;

    &--can-chicken-500 {
        width: 68px;
        height: 86px;
        top: -1px;

        @media (min-width: variables.$tablet-width) {
            width: 161px;
            height: 172px;
        }

        @media (min-width: variables.$desktop-width) {
            top: -10px;
        }
    }

    &--can-chicken-1000 {
        width: 84px;
        height: 101px;
        top: 3px;

        @media (min-width: variables.$tablet-width) {
            width: 168px;
            height: 206px;
        }

        @media (min-width: variables.$desktop-width) {
            width: 172px;
            height: 202px;
            top: -7px;
        }
    }

    &--can-fish-500 {
        width: 68px;
        height: 78px;
        top: 8px;

        @media (min-width: variables.$tablet-width) {
            width: 163px;
            height: 174px;
            top: -2px;
        }

        @media (min-width: variables.$desktop-width) {
            top: -10px;
        }
    }

    &--can-fish-1000 {
        width: 84px;
        height: 101px;
        top: 3px;

        @media (min-width: variables.$tablet-width) {
            width: 168px;
            height: 200px;
            top: -2px;
        }

        @media (min-width: variables.$desktop-width) {
            width: 172px;
            height: 196px;
            top: -14px;
        }
    }

    &--can-buckwheat-500 {
        width: 68px;
        height: 78px;
        top: 11px;

        @media (min-width: variables.$tablet-width) {
            width: 161px;
            height: 171px;
            top: -2px;
        }

        @media (min-width: variables.$desktop-width) {
            top: -10px;
        }
    }

    &--can-buckwheat-1000 {
        width: 84px;
        height: 100px;
        top: 4px;

        @media (min-width: variables.$tablet-width) {
            width: 168px;
            height: 200px;
            top: -2px;
        }

        @media (min-width: variables.$desktop-width) {
            width: 172px;
            height: 196px;
            top: -14px;
        }
    }

    &--can-rice-500 {
        width: 72px;
        height: 84px;
        top: 8px;

        @media (min-width: variables.$tablet-width) {
            width: 163px;
            height: 174px;
            top: -2px;
        }

        @media (min-width: variables.$desktop-width) {
            top: -10px;
        }
    }
}

.product__icon {
    background-image: url("../img/next-products-phone.svg");
    width: 30px;
    height: 30px;
    margin-bottom: 23px;

    @media (min-width: variables.$tablet-width) {
        background-image: url("../img/next-products-desktop.svg");
        width: 60px;
        height: 60px;
        margin-bottom: 49px;
    }
}

.product__text {
    margin: 0;
    margin-bottom: 21px;
    padding: 0;
    font-family: variables.$secondary-font;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: variables.$special-dark-grey;

    @media (min-width: variables.$tablet-width) {
        font-size: 16px;
        line-height: 18px;
        width: 167px;
        margin-bottom: 0;
    }
}

.product__button {
    width: 100%;

    &--next {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        text-decoration: none;

        @media (min-width: variables.$tablet-width) {
            margin-top: auto;
        }
    }
}
