@use "../variables.scss";

.reason {
    counter-increment: reason;
    font-family: variables.$secondary-font;
    font-size: 14px;
    line-height: 18px;
    color: variables.$special-dark-grey;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    // outline: 1px solid red;

    &::before {
        content: "";
        min-width: 60px;
        height: 60px;
        margin-right: 20px;
        background-color: variables.$basic-green;
        background-repeat: no-repeat;
        background-position: center;

        @media (min-width: variables.$tablet-width) {
            margin-bottom: 31px;
            min-width: 80px;
            height: 80px;
        }
    }

    @media (min-width: variables.$tablet-width) {
        font-size: 16px;
        line-height: 24px;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        width: 249px;
        height: 280px;

        &::after {
            content: counter(reason);
            position: absolute;
            right: 0;
            z-index: -1;
            font-family: variables.$primary-font;
            font-size: 280px;
            line-height: 280px;
            font-weight: 400;
            color: variables.$basic-grey;
        }
    }


    &--first {
        &::before {
            background-image: url("../../img/leaf.svg");
        }

        &::after {
            right: 23px;
            top: 8px;
        }
    }

    &--second {
        &::before {
            background-image: url("../../img/tub.svg");
        }

        &::after {
            right: 5px;
            top: 10px;
        }
    }

    &--third {
        &::before {
            background-image: url("../../img/eat.svg");
        }

        &::after {
            right: 0;
            top: 10px;
        }
    }

    &--fourth {
        &::before {
            background-image: url("../../img/alarm.svg");
        }

        &::after {
            right: 0;
            top: 10px;
        }
    }
}

.reason__br {
    display: none;

    @media (min-width: variables.$tablet-width) {
        display: inline;
    }
}
