@use "../variables.scss";

.reasons {
    padding: 21px 20px 50px;

    @media (min-width: variables.$tablet-width) {
        padding: 45px 30px 55px;
        border-bottom: 1px solid variables.$basic-light-grey;
    }

    @media (min-width: variables.$desktop-width) {
        padding: 71px 110px 0 110px;
        border: none;
    }
}

.reasons__title {
    padding: 0;
    margin: 0;
    font-family: variables.$primary-font;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 40px;

    @media (min-width: variables.$tablet-width) {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 21px;
    }
}

.reasons__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: variables.$tablet-width) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 280px;
        // column-gap: 21.6%;
        column-gap: 8.6%; // temp
        row-gap: 37px;
    }

    @media (min-width: variables.$desktop-width) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        column-gap: 0;
        row-gap: 0;
    }
}

.reasons__item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    @media (min-width: variables.$tablet-width) {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    @media (min-width: variables.$desktop-width) {
        width: 246px;
        height: 280px;
    }
}
