@use "../variables.scss";

.slider {
    width: 280px;
    text-align: center;
}

.slider__image {
    display: none;
    margin-bottom: 15px;
}

.slider__input:checked + .slider__image {
    display: block;
}

.slider__label {
    font-family: variables.$primary-font;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;

    &--before {
        &::after {
            content: "";
            display: inline-block;
            margin-left: 13px;
            border: 1px solid #cdcdcd;
            border-right: none;
            box-sizing: border-box;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            height: 14px;
            width: 40px;
            background-color: variables.$basic-white;
        }
    }

    &--after {
        &::before {
            content: "";
            display: inline-block;
            margin-right: 13px;
            border: 1px solid #cdcdcd;
            border-left: none;
            box-sizing: border-box;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            height: 14px;
            width: 40px;
            background-color: variables.$basic-white;
        }
    }
}

.slider__input--left:checked ~ .slider__label--before {
    &::before {
        content: "";
        position: absolute;
        width: 35.66px;
        height: 6px;
        left: 58px;
        top: 9px;
        background: variables.$basic-green;
        border-radius: 6px;
    }
}

.slider__input--right:checked ~ .slider__label--after {
    &::after {
        content: "";
        position: absolute;
        width: 35.66px;
        height: 6px;
        left: 0;
        top: 9px;
        background: variables.$basic-green;
        border-radius: 6px;
    }
}
