@use "../variables.scss";

.slider {
    background-color: variables.$special-light-grey;
    position: relative;
}

.slider__container {
    text-align: center;

    @media (min-width: variables.$tablet-width) {
        position: relative;
        width: 591px;
        margin: 0 auto;
        padding-top: 337px;
    }

    @media (min-width: variables.$desktop-width) {
        padding-top: 359px;
    }
}

.slider__images {
    margin-bottom: 20px;

    @media (min-width: variables.$tablet-width) {
        display: none;
    }
}

.slider__half-images {
    display: none;

    @media (min-width: variables.$tablet-width) {
        display: flex;
        position: absolute;
        top: -203px;
        left: 0;
        flex-flow: row nowrap;
        justify-content: center;
    }

    @media (min-width: variables.$desktop-width) {
        top: -181px;
    }
}

.slider__image {
    display: none;

    &--before {
        width: 280px;
        height: 232px;
    }

    &--after {
        width: 243px;
        height: 232px;
    }

    &--visible {
        display: block;
    }
}

.slider__controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    @media (min-width: variables.$tablet-width) {
        padding: 0 8px 0 13px;
    }
}

.slider__control {
    font-family: variables.$primary-font;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;

    @media (min-width: variables.$tablet-width) {
        border-bottom: 1px dotted
            fade-out($color: variables.$basic-black, $amount: 0.76);
        font-size: 20px;
        line-height: 30px;
    }

    &--before {
        margin-right: 20px;

        @media (min-width: variables.$tablet-width) {
            margin-right: 23px;
        }
    }

    &--after {
        margin-left: 18px;

        @media (min-width: variables.$tablet-width) {
            margin-left: 23px;
        }
    }
}

.slider__line {
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    border-radius: 6px;
    height: 14px;
    background-color: variables.$basic-white;
    min-width: 0;
    width: 100%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: calc(50% - 5px);
        height: 6px;
        left: 4px;
        top: 3px;
        background: variables.$basic-green;
        border-radius: 6px;
    }

    @media (min-width: variables.$tablet-width) {
        height: 6px;
        background-color: variables.$slider-control-grey;
        border: none;

        &::before {
            display: none;
        }
    }
}

.slider__drag-control {
    display: none;

    @media (min-width: variables.$tablet-width) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -15px;
        left: calc(50% - 20px);
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        padding: 0;
        // outline: 2px solid red;
    }
}

.slider__drag-control-image {
    display: none;

    @media (min-width: variables.$tablet-width) {
        display: block;
        position: relative;
        top: -2px;
        left: -1px;
        width: 34px;
        height: 34px;

        &::before {
            content: "";
            display: inline-block;
            left: 0;
            top: 0;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: variables.$basic-white;
            border: 1px solid variables.$special-grey;
            filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
        }

        &::after {
            content: "";
            position: absolute;
            left: 14px;
            top: 14px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: variables.$basic-green;
        }
    }
}

.slider__drag-control:hover .slider__drag-control-image {
    @media (min-width: variables.$tablet-width) {
        &::before {
            filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
        }
    }
}

.slider__drag-control:active .slider__drag-control-image {
    @media (min-width: variables.$tablet-width) {
        &::before {
            filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
            border-color: variables.$basic-green;
        }
    }
}
