@use "../variables.scss";

.social-links {
    background-color: variables.$basic-grey;
    padding: 0 20px;
}

.social-links__list {
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    border-top: 1px solid variables.$light-grey;
    border-bottom: 1px solid variables.$light-grey;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
