@use "../variables.scss";

.social-links {
    padding: 0 20px;
}

.social-links__list {
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 132px;
}

.social-links__item {
    width: 28px;
    height: 22px;

    &--vk {
        background-image: url("../../img/vk.svg");
    }

    &--youtube {
        background-image: url("../../img/youtube.svg");
    }

    &--telegram {
        background-image: url("../../img/telegram.svg");
    }
}
